{% extends "base.html" %}

{% block content %}
<body style="background-color:Azure"></body>
    <h1>References</h1>
    <p style="font-family:arial">In this process, I have used the following references:</p>

    <h3>Flask Tutorial:</h3>
    <p><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world</a></p>
    <p><a href="http://roseou.github.io/2016/05/08/setup/">http://roseou.github.io/2016/05/08/setup/</a></p>
    <p><a href="http://docs.jinkan.org/docs/flask/installation.html#installation">http://docs.jinkan.org/docs/flask/installation.html#installation</a></p>

    <h3>HTML Tutorial:</h3>
    <p><a href="http://www.w3school.com.cn/html/html_links.asp">http://www.w3school.com.cn/html/html_links.asp</a></p>
{% endblock %}

<p><a href=""></a></p>